{% extends 'base.html'  %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <p>Please change your password</p>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="register-form" action="" method="post" role="form">{% csrf_token %}
                                    <div class="form-group">
                                        {{ form.old_password.errors }}
                                        <input type="password" placeholder="Old Password" id="id_old_password" class="form-control" name="old_password" required>
                                    </div>
                                    <div class="form-group">
                                        {{ form.new_password1.errors }}
                                        <input type="password" placeholder="New Password" id="id_new_password1" class="form-control" name="new_password1" required>
                                    </div>
                                    <div class="form-group">
                                        {{ form.new_password2.errors }}
                                        <input type="password" placeholder="Confirm Password" id="id_new_password2" class="form-control" name="new_password2" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" id="change-submit" tabindex="4" class="form-control btn btn-success" value="Change My Password">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}