{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Company{% endblock %}
{% block body_class %}company{% endblock %}

{% block content %}
    <div ng-controller="companyController">
        <div class="container">
            <div class="mini-charts">
                <div class="row text-center">
                    <div class="col-md-2 {$ $first ? 'col-md-offset-1' : '' $}" ng-repeat="level in levels">
                        <div class="mini-chart level-{$ level.value $}-bg">
                            <h2 class="count">{$ level.count $}</h2>
                            <p class="title">{$ level.title $}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Rating</th>
                        <th>Client</th>
                        <th>Message</th>
                        <th>Techs</th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll='loadMoreJobs()' infinite-scroll-distance='0' infinite-scroll-disabled='api.jobs.busy || api.jobs.done'>
{#                    <tbody>#}
                    <tr ng-repeat="job in jobs | orderBy:'-completed' track by job.id">
                        <td class="feedback-rating nowrap">
                            <p>{$ $index + 1 $}
                                <span class="level-{$ job.company_feedback.level.value $} glyphicon glyphicon-star"></span>
                                {$ job.company_feedback.level.title $}
                            </p>
                        </td>
                        <td class="feedback-contact">{$ job.contact.contact_id $}</td>
                        <td class="feedback-message">{$ job.id $} -- {$ job.company_feedback.message != 0 ?
                            job.company_feedback.message : "" $}
                        </td>
                        <td class="feedback-techs">
                            <a target="_blank" ng-href="{% url 'clean:technicians' %}{$ tech.user $}"
                               ng-repeat="tech in job.techs">{$ tech.name $}{$ !$last ? ", " : "" $}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <p ng-show="api.jobs.busy">Loading...</p>
                    <p ng-show="api.jobs.done">All results fetched</p>
                </div>

                <button ng-click="loadMoreJobs();">More</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block controllers %}
    <script src="{% static 'js/controller-company.js' %}"></script>
{% endblock %}