{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Feedback{% endblock %}
{% block body_class %}feedback{% endblock %}

{% block header %}
    <header class="">
        <div class="text-vertical-center">
            <h1>Leave Feedback</h1>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div ng-controller="feedbackController">
        <div class="container">
            <div class="row">
                {$ contact $}
                <form class="form-horizontal" ng-submit="getJobs()">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="contact__name_first" class="control-label">First Name</label>
                            <input type="text" class="form-control" id="contact__name_first"
                                   ng-model="contact.contact__name_first__contains" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="contact__name_last" class="control-label">Last Name</label>
                            <input type="text" class="form-control" id="contact__name_last"
                                   ng-model="contact.contact__name_last__contains" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="completed__date" class="control-label">Date</label>
                        <p class="input-group">
                            {# ng-required="true" #}
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="completed"
                                   datepicker-options="dateOptions" is-open="popup2.opened"
                                   close-text="Close" ng-change="updateFormattedDate();" id="completed__date"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                              </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="row job" ng-repeat="job in jobs">
                    <p>{$ job.id $}</p>
                    <p>{$ job.completed $}</p>
                    <p>{$ job.techs $}</p>
                    <p>{$ job.company_feedback.level.title $}</p>
                </div>
                <button class="btn" ng-click="getJobs()">Get More</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block controllers %}
    <script src="{% static 'js/controller-feedback.js' %}"></script>
{% endblock %}