{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Company Overview{% endblock %}
{% block body_class %}job-list{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Jobs Overview</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>
{% endblock %}
