{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Company Overview{% endblock %}

{% block content %}
    <div ng-controller="technicianController" ng-init="user = {{ pk }}" class="technician-detail">
        <div class="jumbotron">
            <div class="container">
                <h1>{$ technician.name $}
                    <small>{$ technician.type_title $}</small>
                </h1>
            </div>
        </div>
        <div class="weekly-scores">
            <div class="container">
                <div class="col-sm-3 weekly-score">W1: {$ technician.weekly_scores.week1 ?  technician.weekly_scores.week1 : 0 $}%</div>
                <div class="col-sm-3 weekly-score">W2: {$ technician.weekly_scores.week2 ?  technician.weekly_scores.week2 : 0 $}%</div>
                <div class="col-sm-3 weekly-score">W3: {$ technician.weekly_scores.week3 ?  technician.weekly_scores.week3 : 0 $}%</div>
                <div class="col-sm-3 weekly-score">W4: {$ technician.weekly_scores.week4 ?  technician.weekly_scores.week4 : 0 $}%</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="rating-block">
                        <h2 class="bold padding-bottom-7">{$ average_score | number:2 $} / {$ num_levels $}
                            <small>{$ average_score_percent | number:0 $}%</small>
                        </h2>
                        <uib-progress>
                            <uib-bar ng-repeat="level in levels track by $index" value="level.percent"
                                     type="level-{$ level.value $}">
                                <span>{$ level.percent | number:2 $}%</span>
                            </uib-bar>
                        </uib-progress>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Rating</th>
                                <th>Client</th>
                                <th>Date</th>
                                <th>Message</th>
                                <th>Alerts</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in feedback">
                                <td class="feedback-rating nowrap">
                                    <p>
                                        <span class="level-{$ item.level.value $} glyphicon glyphicon-star"></span>
                                        {$ item.level.title $}
                                    </p>
                                </td>
                                <td class="feedback-contact">{$ item.job.contact.contact_id $}</td>
                                <td class="feedback-date">{$ item.job.completed | date:'yyyy-MM-dd' $}</td>
                                <td class="feedback-message">{$ item.message != 0 ? item.message : "" $}</td>
                                <td class="feedback-message">{$ item.alerts != 0 ? item.alerts : "" $}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>

{% endblock %}

{% block controllers %}
    <script src="{% static 'js/controller-technician.js' %}"></script>
{% endblock %}